* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

nav {
    background-color: #1b1b1b;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav p {
    margin: 0;
}

a:link,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

a {
    padding: 10px 15px;
    font-size: 18px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

a:hover {
    color: rgb(0, 145, 182);
}

h1, h2 {
    text-align: center;
    margin: 30px 0;
    font-weight: normal;
}

input[type="text"] {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 145, 182);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 120, 150);
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    min-width: 80%;
}

th {
    background-color: #111;
    padding: 15px;
    font-size: 16px;
}

td {
    background-color: #1e1e1e;
    padding: 12px;
    text-align: center;
}

tr:hover td {
    background-color: rgb(0, 145, 182);
}

td a {
    font-weight: bold;
}

td a:hover {
    color: #000;
}

p {
    max-width: 900px;
    margin: 8px auto;   
    font-size: 18px;
    line-height: 1.5;
    color: #dcdcdc;
    text-align: center;
}

ol {
    max-width: 500px;
    margin: 20px auto 40px;
    padding-left: 0;
    list-style-position: inside;
    text-align: center;
    color: #dcdcdc;
    font-size: 18px;
}

ol li {
    margin: 6px 0;
}

a.dodaj {
    display: block;          
    width: fit-content;      
    margin: 20px auto;       
    padding: 10px 25px;
    font-size: 16px;
    background-color: rgb(0,145,182);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

a.dodaj:hover {
    background-color: rgb(0,120,150);
}

form button {
    width: auto;       /* nie 50%, tylko naturalna szerokość */
    padding: 8px 16px; /* taki sam jak inne przyciski */
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(0,145,182);
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

form button + button {
    margin-top: 10px;
}

form {
    display: flex;
    justify-content: center;  /* centrowanie w poziomie */
    gap: 10px;                /* odstęp między input a button */
    margin: 20px 0;  
    flex-wrap: wrap;         /* trochę marginesu wokół formularza */
}
