nav {
  background-color: #1b1b1b;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  
}

a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
}   

a{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 20px;
}

a:hover{
  color: rgb(0, 145, 182);
}

body {
  background-color: #0a0a0a;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 250px;
  text-align: center;
}

th {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 45px;
  font-size: 17px;
}

tr {
  background-color: rgb(0, 145, 182);
}

table { 
    margin-left: auto;
    margin-right: auto;
}
